{% extends "template.html" %}
{% block title %} 
{{'Dashboard #3'}} 
{% endblock %}

{% block display %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <h1>{{ message }}</h1>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <h1>Most Profitable Car</h1>
    <iframe width="1200" height="1000" src="https://datastudio.google.com/embed/reporting/b47320af-0695-4894-80bf-d894b38bb85e/page/INITB" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}