{% extends "template.html" %}

{% block display %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    h1 {
    color: rgb(226, 116, 43);
    text-align: center;
  }

  p {
      color:brown
    }

  *{
margin:0;
padding:0;
  }

  </style>

</head>
<body>

  
<div class="container text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <img src="/static/image/Cars_2006.jpg" style="width:100%">
      <h3><a href="#">History</a></h3>
      <h3><a href="#">Booking</a></h3>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>{{ session['username'] }},Welcome!</h1>
      <hr>

      <div class="col-md-8" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ person[0]}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ person[1] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ person[6] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ person[5] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ person[7] }}</p>
                            </div>
                        </div>
            </div>
    </div>
  </div>
</div>
</body>
</html>


{% endblock %}