{% extends "template.html" %}
{% block title %} 
{{'Profile'}} 
{% endblock %}

{% block display %}

<div class="container text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <img src="/static/image/Cars_2006.jpg" style="width:100%">
    </div>
    <div class="col-sm-8 text-left"> 
      <h1 id="userTitle">{{ session['username'] }},Welcome!</h1>
      <hr>
        <div class="col-md-8" style="text-align: center;">
              <div class="row">
                <div class="col-md-6">
                  <label>User Id</label>
                </div>
                <div class="col-md-6">
                  <p>{{ person[0]}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                </div>
                <div class="col-md-6">
                  <p>{{ person[3] }} {{ person[4] }} </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{ person[6] }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6">
                  <p>{{ person[5] }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Address</label>
                </div>
                <div class="col-md-6">
                  <p>{{ person[7] }}</p>
                </div>
              </div>
        </div>
    </div>
  </div> <!-- Closing div first row -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="row content" style="padding-top: 20px;">
      <ul class='nav nav-tabs'>
        <li class='active'><a data-toggle='tab' href='#Booking'>Booking</a></li>
        <li><a data-toggle='tab' href='#History'>History</a></li>
      </ul>
      <div class='tab-content'>
        <div id='Booking' class='tab-pane fade in active'>
          <h1>Booking</h1>
          <table id="bookingTable" class="table table-striped">
            <thead>
              <tr class="header">
                <th>Booking ID</th>
                <th>Car ID</th>
                <th>Car Name</th>
                <th>Price/Day</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Cost</th>
                <th>Booking Status</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody id="carsTable">
              {%for book in booking%}
              <form action="/cancelbook" method="POST">
              <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ car(book[2]) }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
                <td>{{ book[5] }}</td>
                <td>{{ book[6] }}</td>
                <td>{{ book[7] }}</td>
                <td><input  class="btn btn-danger" type="submit" name="cancel" value="Cancel"></td>
              </tr>
              <!-- Hidden attribute to get data from form request  -->
              <input id="carid" name="carid" type="hidden" value="{{ book[2] }}">
              <input id="bookid" name="bookid" type="hidden" value="{{ book[0] }}">
              </form>
              {%endfor%}
            </tbody>
          </table>
        </div> <!-- Closing first tab -->

        <div id='History' class='tab-pane fade'>
          <h1>History</h1>
          <table id="bookingTable" class="table table-striped">
            <thead>
              <tr class="header">
                <th>Order ID</th>
                <th>Car ID</th>
                <th>Car Name</th>
                <th>Price/Day</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Cost</th>
                <th>Booking Status</th>
              </tr>
            </thead>
            <tbody id="carsTable">
              {%for history in history%}
              <form action="" method="POST">
              <tr>
                <td>{{ history[0] }}</td>
                <td>{{ history[2] }}</td>
                <td>{{ car(history[0]) }}</td>
                <td>{{ history[3] }}</td>
                <td>{{ history[4] }}</td>
                <td>{{ history[5] }}</td>
                <td>{{ history[6] }}</td>
                <td>{{ history[7] }}</td>
              </tr>
              </form>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
  </div><!-- Closing div second row -->
</div>

{% endblock %}