<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>{% block title %} {% endblock %}</title>
   <link rel="shortcut icon" type="image/x-icon" href="static/image/favicon.ico">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
   <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
   <!-- Char JS, google chart CDN-->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
   <script src="https://www.gstatic.com/charts/loader.js"></script>
   
   <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
 <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Car Share</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        {% if 'username' in session %}
        <li><a href="{{ url_for('cars') }}">Show Cars</a></li>
        <li><a href="{{ url_for('myprofile') }}">My Profile</a></li>
        {% endif %}
        {% if 'admin' in session %}
        <li><a href="{{ url_for('showAdminCars') }}">Show Cars</a></li>
        <li><a href="{{ url_for('showAllUsers') }}">All Users</a></li>
        <li><a href="{{ url_for('showAllBookings') }}">All Booking</a></li>
        <li><a href="{{ url_for('addUser') }}">Add User/Car</a></li>
        {% endif %}
        {% if 'manager' in session %}
        <li><a href="{{ url_for('managerBoard1') }}">User Location</a></li>
        <li><a href="{{ url_for('managerBoard2') }}">Frequent Booked Cars</a></li>
        <li><a href="{{ url_for('managerBoard3') }}">Most Profitable Car</a></li>
        {% endif %}
        {% if 'engineer' in session %}
        <li><a href="{{ url_for('engineer1') }}">Marker</a></li>
        <li><a href="{{ url_for('engineer2') }}">Circle</a></li>
        {% endif %}
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span>Login</a></li>
        <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-log-in"></span>Register</a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
        <li><a href="{{ url_for('askLogin') }}"><span class="glyphicon glyphicon-eye-open"></span>Admins</a></li>
      </ul>
    </div>
  </nav>
  
    {% block display %}

    {% endblock %}
    
 </body>
</html>