pip3 install passlib
pip3 install flask
pip3 install mysqlclient
pip3 install passlib
pip3 install google-api-python-client google-auth-httplib2 google-auth-oauthlib oauth2client httplib2
#For mac 
#brew install sphinx-doc
#export PATH="/usr/local/opt/sphinx-doc/bin:$PATH"

# To run all uni tests within command line
python -m unittest discover 